@model VLC.Models.Recipes.Hits

@{

    <div class="row row-cols-1 row-cols-md-2 g-2 mx-auto" id="main">
        @for (int i = 0; i < Model.HitsList.Count; i++)
        {

            <div>
                <div class="container-xs shadow" style="border: 1px solid black; border-radius: 5px;">

                    <div class="col d-flex p-2">
                        <!-- Image -->
                        <div class="flex-shrink-0">
                            <label asp-for="HitsList[i].Recipe.Images.Id">
                                <img class="img-fluid rounded-start" id="img-@Model.HitsList[i].Recipe.Images.Id" src="@Model.HitsList[i].Recipe.Images.Small.Url" alt="Regular Image recipe" height="@Model.HitsList[i].Recipe.Images.Small.Height" width="@Model.HitsList[i].Recipe.Images.Small.Width" />
                            </label>
                        </div>
                        <!-- Recipe Body -->
                        <div class="card-body flex-grow-1 ms-3">

                            <h6 id="recipe-header" class="card-title font-monospace">
                                <label asp-for="HitsList[i].Recipe.Label">@Model.HitsList[i].Recipe.Label</label>
                            </h6>
                            <div>
                                <ul id="recipe-details">

                                    <li>
                                        Cuisine Type:
                                        @foreach (var cuisine in Model.HitsList[i].Recipe.CuisineType)
                                        {

                                            if (cuisine.Count() == 1)
                                            {

                                                <i>| @cuisine |</i>
                                            }
                                            else
                                            {
                                                <i>| @cuisine </i>
                                            }

                                        }
                                    </li>

                                    <li>Total Calories: <i>@Model.HitsList[i].Recipe.Calories.ToString("#")</i></li>
                                    <li>Total Weight: <i>@Model.HitsList[i].Recipe.TotalWeight.ToString("#") g</i></li>
                                    <li>Number of servings: @Model.HitsList[i].Recipe.Yield</li>
                                    <!-- Modal on mouseover and mouseleave JAVASCRIPT here-->
                                    <li id="diet-labels-modal">Diet Labels</li>
                                    <li id="health-labels-modal">Health Labels</li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="d-flex flex-column recipe-nutrition">
                        <h6 class="per-serving">NUTRITION PER SERVING</h6>
                        <div class="nutrients">
                            <ul id="nutrients-list">
                                <li class="no-weight" title="calories">
                                    <div class="nutrients-inner">
                                        <span class="title">Calories</span>
                                        <label asp-for="HitsList[i].Recipe.Calories"><span class="top">@Model.HitsList[i].Recipe.CountPerServing("totalNutrients", "ENERC_KCAL")</span></label>
                                        <span class="bottom">@Model.HitsList[i].Recipe.CountPerServing("totalDaily", "ENERC_KCAL")%</span>

                                    </div>
                                </li>
                                <li class="no-weight" title="fat">
                                    <div class="nutrients-inner">
                                        <span class="title">Fat</span>
                                        <span class="top">@Model.HitsList[i].Recipe.CountPerServing("digest", "total")</span>
                                        <span class="bottom">@Model.HitsList[i].Recipe.CountPerServing("digest", "daily")%</span>
                                    </div>
                                </li>
                                <li class="no-weight" title="Saturates">
                                    <div class="nutrients-inner">
                                        <span class="title">Saturates</span>
                                        <span class="top">@Model.HitsList[i].Recipe.CountPerServing("totalNutrients", "FASAT")g</span>
                                        <span class="bottom">@Model.HitsList[i].Recipe.CountPerServing("totalDaily", "FASAT")%</span>
                                    </div>
                                </li>
                                <li class="no-weight" title="Sugars">
                                    <div class="nutrients-inner">
                                        <span class="title">Sugars</span>
                                        <span class="top">@Model.HitsList[i].Recipe.CountPerServing("totalNutrients", "SUGAR")g</span>

                                        @if (!@Model.HitsList[i].Recipe.TotalNutrients.ContainsKey("sugar"))
                                        {
                                            <span class="bottom">n/a</span>
                                        }
                                        else
                                        {
                                            <span class="bottom">
                                                @Model.HitsList[i].Recipe.CountPerServing("totalDaily", "SUGAR")%
                                            </span>
                                        }


                                    </div>
                                </li>
                                <li class="no-weight" title="Salt">
                                    <div class="nutrients-inner">
                                        <span class="title">Salt</span>
                                        <span class="top">@Model.HitsList[i].Recipe.CountPerServing("totalNutrients", "NA")g</span>
                                        <span class="bottom">@Model.HitsList[i].Recipe.CountPerServing("totalDaily", "NA")%</span>
                                    </div>
                                </li>
                                <li class="no-weight" title="Protein">
                                    <div class="nutrients-inner">
                                        <span class="title">Protein</span>
                                        <span class="top">@Model.HitsList[i].Recipe.CountPerServing("totalNutrients", "PROCNT")g</span>
                                        <span class="bottom">@Model.HitsList[i].Recipe.CountPerServing("totalDaily", "PROCNT")%</span>
                                    </div>
                                </li>
                                <li class="no-weight" title="Carbs">
                                    <div class="nutrients-inner">
                                        <span class="title">Carbs</span>
                                        <span class="top">@Model.HitsList[i].Recipe.CountPerServing("totalNutrients", "CHOCDF")g</span>
                                        <span class="bottom">@Model.HitsList[i].Recipe.CountPerServing("totalDaily", "CHOCDF")%</span>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                    <div class="card-footer">
                        <small class="text-muted float-end me-3">
                            <i>See full recipe on:</i>
                            <a href="@Model.HitsList[i].Recipe.Url">@Model.HitsList[i].Recipe.Source</a>
                            <i>**** Recipe in</i> <a href="@Model.HitsList[i].Links.Self.Href.AbsoluteUri">Json</a> format
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="d-flex flex-row mb-3 mt-3 align-items-center justify-content-sm-center">
        <div class="p-2">
            @if (Model.To <= 20)
            {
                <form>
                    <input type="button" value="Nothing" hidden />
                </form>
            }
            else
            {
                <form>
                    <input type="button" class="btn btn-primary" value="<< Prev 20" onclick="history.back()" />
                </form>

            }
        </div>
        <div class="p-2">
            @if (Model.Links.Next == null)
            {
                <button class="btn btn-primary" value="Next 20 >>" hidden />
            }
            else
            {
                <form id="next-search" asp-action="Next" asp-controller="ExternalApi" method="get">
                    <input class="input-group-text form-control" id="next" name="next" type="text" value="@Model.Links.Next.Href.AbsoluteUri" hidden />
                    <input class="btn btn-primary" type="submit" value="Next 20 >>" />

                </form>
            }
            
        </div>
    </div>

}

