@model VLC.Models.Recipes.Hits

 @{
/////////////////////////////////////
#region RECIPE SEARCH PAGE NAV
/////////////////////////////////////
var ID = Model.Id;
var LINKS = Model.Links;
var COUNT = Model.Count;    var FROM = Model.From;
var TO = Model.To;
var HITS = Model.HitsList;
////////////////////////////////////////
///*******Create HTML elements*******///
////////////////////////////////////////
var query_string_value = Context.Request.Query["query"];



<div id="@Model.Id" class="top-line">
    <div class="inner">
        @if (!string.IsNullOrWhiteSpace(query_string_value))
        {
        <h1 class="font-monospace">Recipe Search Results for @query_string_value</h1>
        }
        <dl>
            <dt>
                Recipes found: <strong>@Model.Count</strong>.<br />
                <em>Displaying from @Model.From hits to @Model.To hits</em>

            </dt>

            <dd>
                <div class="d-flex flex-row mb-3 align-items-center justify-content-sm-center">
                    <div class="p-2">
                        @if (Model.To == 20)
                        {
                            <form>
                                <input type="button" value="Nothing" hidden />
                            </form>
                        }
                        else
                        {
                            <form>
                                <input type="button" class="btn btn-primary" value="<< Prev 20" onclick="history.back()" />
                            </form>

                        }
                    </div>
                    <div class="p-2">
                        <form id="next-search" asp-action="Next" asp-controller="ExternalApi" method="get">
                            @*<label class="col-form-label p-2" for="next">next values</label>*@
                            <input class="input-group-text form-control" id="next" name="next" type="text" value="@Model.Links.Next.Href.AbsoluteUri" hidden />
                            <input class="btn btn-primary" type="submit" value="Next 20 >>" />

                        </form>
                    </div>
                </div>
            </dd>

        </dl>
    </div>
</div>
    #endregion 
 }
@*
<div>
    <h4>Hits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
