@model VLC.Models.Recipes.Hits

 @{

<div id="@Model.Id" class="top-line">
    <div class="inner font-monospace">
        <div class="section-nav-display">
            @if (!string.IsNullOrWhiteSpace(Context.Request.Query["query"]))
            {
                <div>
                    <p>Recipe Search Results for <em>"@Context.Request.Query["query"]"</em></p>
                </div>
            }
                <div>Recipes found: <strong>@Model.Count</strong>.<br /></div>
                <div><em>Displaying from @Model.From hits to @Model.To hits</em></div>

            <div class="d-flex flex-row mb-3 align-items-center justify-content-sm-center">
                <div class="p-2">
                    @if (Model.To == 20)
                    {
                        <form>
                            <input type="button" value="Nothing" hidden />
                        </form>
                    }
                    else
                    {
                        <form>
                            <input type="button" class="btn btn-primary" value="<< Prev 20" onclick="history.back()" />
                        </form>
                    }
                </div>

                <div class="p-2">
                    <form id="next-search" asp-action="Next" asp-controller="ExternalApi" method="get">
                        @*<label class="col-form-label p-2" for="next">next values</label>*@
                        <input class="input-group-text form-control" id="next" name="next" type="text" value="@Model.Links.Next.Href.AbsoluteUri" hidden />
                        <input class="btn btn-primary" type="submit" value="Next 20 >>" />
                    </form>
                </div>

            </div>


        </div>
    </div>
</div>

 }
