@model VLC.Models.MealManager.MealManager

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MealManager</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BodyFat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BodyFat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityLevel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
