@model VLC.Models.MealManager.MealManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MealManager</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.TotalCalories)
        </dt>
        <dd class="col-sm-9">
            @Model.CountTotalCalories()
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MealCount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MealCount)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Goal)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Goal)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.MeasurementSystem)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.MeasurementSystem)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.BodyFat)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.BodyFat)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ActivityLevel)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ActivityLevel)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
