@model VLC.Models.MealManager.MealManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Meal Manager</h1>

<h4>Edit your preferences</h4>
<hr />

<div class="edit-container">
    <form class="input-group g-2 needs-validation" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-group mb-3">
            <input type="hidden" asp-for="@this.Model.Id" />
            <label asp-for="MealCount" class="input-group-text col-4"></label>
            <input type="number" asp-for="MealCount" class="form-control col-6" value="@this.Model.MealCount" />
            <span asp-validation-for="MealCount" class="text-danger"></span>
        </div>


        <div class="input-group mb-3">

            <label asp-for="Diet" class="input-group-text col-4"></label>
            <select asp-for="Diet" class="form-select col-6" id="current-preset-diet">
                @foreach (var diet in Enum.GetNames(typeof(VLC.Utils.Enums.Diets)))
                {
                    <option value="@diet">
                        @diet.ToString()
                    </option>
                }
            </select>
            <span asp-validation-for="Diet" class="text-danger"></span>

        </div>
        <div class="input-group mb-3">
            <label asp-for="Goal" class="input-group-text col-4"></label>
            <select asp-for="Goal" class="form-select col-6">
                @foreach (var goal in Enum.GetNames(typeof(VLC.Utils.Enums.WeightGoal)))
                {
                    <option value="@goal">
                        @goal.ToString()
                    </option>
                }
            </select>
            <span asp-validation-for="Goal" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <label asp-for="MeasurementSystem" class="input-group-text col-4"></label>
            <select asp-for="MeasurementSystem" class="form-select col-6">
                @foreach (var measurement in Enum.GetNames(typeof(VLC.Utils.Enums.MeasurementSystem)))
                {
                    <option value="@measurement">
                        @measurement.ToString()
                    </option>
                }
            </select>
            <span asp-validation-for="MeasurementSystem" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <label asp-for="Gender" class="input-group-text col-4"></label>
            <select asp-for="Gender" class="form-select col-6">
                @foreach (var gender in Enum.GetNames(typeof(VLC.Utils.Enums.Gender)))
                {
                    <option value="@gender">
                        @gender.ToString()
                    </option>
                }
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <label asp-for="Height" class="input-group-text col-4"></label>
            <input type="number" asp-for="Height" class="form-control col-6" value="@this.Model.Height" />
            <span asp-validation-for="Height" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <label asp-for="Weight" class="input-group-text col-4"></label>
            <input type="number" asp-for="Weight" class="form-control col-6" value="@this.Model.Weight" />
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <label asp-for="Age" class="input-group-text col-4"></label>
            <input type="number" asp-for="Age" class="form-control col-6" value="@this.Model.Age" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <label asp-for="BodyFat" class="input-group-text col-4"></label>
            <select asp-for="BodyFat" class="form-select col-6">
                @foreach (var fat in Enum.GetNames(typeof(VLC.Utils.Enums.BodyFat)))
                {
                    <option value="@fat">
                        @fat.ToString()
                    </option>
                }
            </select>
            <span asp-validation-for="BodyFat" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <label asp-for="ActivityLevel" class="input-group-text col-4"></label>
            <select asp-for="ActivityLevel" class="form-select col-6">
                @foreach (var activity in Enum.GetNames(typeof(VLC.Utils.Enums.ActivityLevel)))
                {
                    <option value="@activity" selected="@activity">
                        @activity.ToString()
                    </option>
                }
            </select>
            <span asp-validation-for="ActivityLevel" class="text-danger"></span>
        </div>
        <div class="input-group mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
