@model VLC.Models.Recipes.Hits

@{
    ViewData["Title"] = "SearchRecipesByQuery";
}

<div class="m-auto w-auto d-flex justify-content-center">
    <div id="carouselExampleCaptions" class="carousel" data-bs-ride="false">
        @*<div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>*@
        <div class="carousel-inner">

            @for (int i = 0; i < Model.HitsList.Count; i++)
            {
                var image = Model.HitsList[i].Recipe.Images.Regular;
                if (i == 0)
                {
                    <div class="carousel-item active">
                        <img src="@image.Url" class="d-flex" alt="@image.ToString()" width="@image.Width" height="@image.Height">
                        <div class="carousel-caption d-none d-md-block font-monospace">
                            <h5>@Model.HitsList[i].Recipe.Label</h5>
                            <p>@((int)Model.HitsList[i].Recipe.Calories) Calories</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img src="@image.Url" class="d-flex" alt="@image.ToString()" width="@image.Width" height="@image.Height">
                        <div class="carousel-caption d-none d-md-block font-monospace">
                            <h5>@Model.HitsList[i].Recipe.Label</h5>
                            <p>@((int)Model.HitsList[i].Recipe.Calories) Calories</p>
                        </div>
                    </div>
                }


            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<section>
    <partial name="_RecipeSearchPageNav" model="Model" />
    <partial name="_RecipeBody1" model="Model" />
    @*ViewData["hit-iterator-value"] = i;
        @await Html.PartialAsync("_Hit.cshtml", Model.HitsList[i]);*@
</section>
