@model VLC.Models.Recipes.Hits

@{
    ViewData["Title"] = "SearchRecipesByQuery";
}

<h1>SearchRecipesByQuery</h1>

<div>
    <h4>Hits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <ul>
    @foreach(var hit in Model.HitsList)
    {
        <li>Label: @hit.Recipe.Label</li>
        <li>Share: @hit.Recipe.ShareAs</li>
        <li>Calories: @hit.Recipe.Calories</li>
        <li><a href="@hit.Links.Self.Href">Click me</a></li>
    }
    </ul>
    <a href="@Model.Links.Next.Href" onclick="alert('TODO: Implement javascript module to load next set of paginated results')">Get next 20 results</a>
</div>