@model VLC.Models.Recipes.Hits

@{
    ViewData["Title"] = "SearchRecipesByQuery";
}

@{
    /// EXAMPLE OF HOW TO ACCESS MODEL DATA
    /////////////////////////////////////
    #region RECIPE SEARCH PAGE NAV
    /////////////////////////////////////
    var ID = Model.Id;
    var LINKS = Model.Links;
    var COUNT = Model.Count;
    var FROM = Model.From;
    var TO = Model.To;
    var HITS = Model.HitsList;
    ////////////////////////////////////////
    ///*******Create HTML elements*******///
    ////////////////////////////////////////
    var query_string_value = Context.Request.Query["query"];
    if (!string.IsNullOrWhiteSpace(query_string_value))
    {
        <h1>Recipe Search Results for @query_string_value</h1>
    }
    <nav id="@ID">
        <dl>
        <dt>
                Recipes found:<strong>@COUNT;</strong>.<br/>
                <em>Displaying from @FROM; hits to @TO; hits</em>
        </dt>
            <dd>
                <a href="@LINKS.Next.Href" onclick="alert('TODO: Implement function to load more recipes 
                                                    so that you scroll through the results like on a feed')">
                Next page
                </a>
            </dd> @* <<< HTTP JSON TO RECIPE *@
        </dl>
    </nav>
    #endregion
    int BTN_ID_COUNTER = 0;
    foreach (var hit in HITS)
    {
        ////////////////////////////////////////
        #region Hidden From Client
        ////////////////////////////////////////
        var HIT_ID = hit.Id;
        var HIT_LINKS = hit.Links;
        var HREF = HIT_LINKS.Self.Href;
        var TITLE = HIT_LINKS.Self.Title;
        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        <div id="@HIT_ID">
            <h2> <a href="@HREF">@HIT_LINKS.Self</a></h2>
        </div>
        #endregion
        ////////////////////////////////////////
        #region ProfileSettings
        ////////////////////////////////////////
        var RECIPE = hit.Recipe;
        var RECIPE_ID = RECIPE.Id;
        var RATING = RECIPE.Rating;
        var IS_FAVORITE = RECIPE.IsFavorite;

        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        <div id="@RECIPE_ID;">
            <p>@RATING</p>
            <nav id="ratings">
                <ul>
                    @{
                        var ratings = Enum.GetValues(typeof(VLC.Utils.MealManagerUtility.Rating));
                        foreach (var rating in ratings)
                        {
                            <li> 
                                <button id="@rating" onclick="alert('TODO: Implement rating feature')"> @rating</button>
                            </li>
                        }
                    }
                </ul>
            </nav>
            @{
                // TODO: Implement feature to add recipe to user favorites.
                // TODO: Remove from favs in profile settings
                var btnId = $"btn-fav-{BTN_ID_COUNTER++}";
                <button id=@btnId onclick="ToggleFavorite(this.id)" value=@IS_FAVORITE>Save to Cookbook</button>
            }
        </div>
        <script>
            const ToggleFavorite = (id) => {
            let btn = document.getElementById(id);
            btn.innerHTML = btn.innerText === "Save to Cookbook" ? btn.innerText = "&#128505; Recipe Saved!" : btn.innerText = "Save to Cookbook";
            };
        </script>
        #endregion
        ////////////////////////////////////////
        #region HTTP Data
        ////////////////////////////////////////
        var URI = RECIPE.Uri;
        var URL = RECIPE.Url;
        var SHARE_AS = RECIPE.ShareAs;
        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        <div class="HTTP">
            <ul>
                <li><a href="@URI">URI</a></li>
                <li><a href="@URL">URL</a></li>
                @{
                    var shareId = $"share-{BTN_ID_COUNTER++}";
                }
                <li><a id="@shareId" href="@SHARE_AS">Share</a></li>
            </ul>
        </div>
        #endregion
        ////////////////////////////////////////
        #region Image Objects
        ////////////////////////////////////////
        var IMAGE = RECIPE.Image;
        var IMAGES = RECIPE.Images;
        var IMAGES_ARRAY_ID = IMAGES.Id;
        var SMALL_IMAGE = IMAGES.Small;
        var REGULAR_IMAGE = IMAGES.Regular;
        var LARGE_IMAGE = IMAGES.Large;
        var THUMBNAIL = IMAGES.Thumbnail;
        var IMAGE_URL = RECIPE.ImageURL;
        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        var thumbmailId = $"img-{THUMBNAIL.Id}";
        <img id="@thumbmailId" src="@THUMBNAIL.Url" alt="Recipe thumbnail" height="@THUMBNAIL.Height" width="@THUMBNAIL.Width" />
        #endregion
        ////////////////////////////////////////
        #region Recipe Title Data
        ////////////////////////////////////////
        var AUTHOR_ID = RECIPE.AuthorId;
        var LABEL = RECIPE.Label;
        var NAME = RECIPE.Name;
        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        <div id='@{_ = $"title-{BTN_ID_COUNTER++}";}'>
            <h3 id="@AUTHOR_ID">@LABEL</h3>
            <small>Name: @NAME</small>
        </div>
        #endregion
        ////////////////////////////////////////
        #region Recipe Categories
        ////////////////////////////////////////
        var DISH_TYPE = RECIPE.DishType;
        var CUISINE_TYPE = RECIPE.CuisineType;
        var MEAL_TYPE = RECIPE.MealType;
        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        <ul>
            @foreach(var dt in DISH_TYPE)
            {
                <li># @dt</li>
            }
            @foreach (var ct in CUISINE_TYPE)
            {
                <li># @ct</li>
            }
            @foreach (var mt in MEAL_TYPE)
            {
                <li># @mt</li>
            }
        </ul>
        #endregion
        ////////////////////////////////////////
        #region Recipe Body
        ////////////////////////////////////////
        var TOTAL_TIME = RECIPE.TotalTime;
        var COOKING_TIME = RECIPE.CookingTime;
        var PREPERATION_TIME = RECIPE.PreperationTime;
        //
        var YIELD = RECIPE.Yield;
        var TOTAL_WEIGHT = RECIPE.TotalWeight;
        //
        var INGREDIENTS = RECIPE.Ingredients;
        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        <table class="table">
        <tcaption class="caption-top">Times</tcaption>
        <thead>
            <tr class="d-table-row">
                <th>Total</th>
                <th>Preperation</th>
                <th>Cooking</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-table-row">
                <td class="d-table-cell">@TOTAL_TIME</td>
                <td class="d-table-cell">@PREPERATION_TIME</td>
                <td class="d-table-cell">@COOKING_TIME</td>
            </tr>
        </tbody>
        <tfoot class="card-footer">
            <tr class="d-table-row">
            <td class="d-sm-table-cell">Yields: @YIELD</td>
            <td class="d-sm-table-cell">Mass: @TOTAL_WEIGHT</td>
            <td class="d-sm-table-cell">Number of ingredients: @INGREDIENTS.Count</td>
            </tr>
        </tfoot>
        </table>
        /////////////////////////////////////////
        <div class="flex-row card flex-sm-wrap">
        @foreach (var ingredient in INGREDIENTS)
        {
            // INGREDIENT OPTIONS
            var INGREDIENT_ID = ingredient.Id;
            var IS_INGREDIENT_IN_FOOD_MEASUREMENT_UNITS = ingredient.IsInFoodMeasurementUnits;
            var IS_INGREDIENT_IN_METRIC_UNITS = ingredient.IsInMetricUnits;
            var IS_INGREDIENT_PRODUCT_UNIT_OF_MEASUREMENT = ingredient.IsProductUnitOfMeasruement;
            var INGREDIENT_IMAGE = ingredient.Image;

            // INGREDIENT HEADER
            var INGREDIENT_UNIT_VALUE = ingredient.IngredientUnitValue;
            var INGREDIENT_WEIGHT = ingredient.Weight;
            var INGREDIENT_MEASURE = ingredient.Measure;
            var INGREDIENT_QUANTITY = ingredient.Quantity;

            // INGREDIENT BODY
            var INGREDIENT_FOOD_ID = ingredient.FoodId;
            var INGREDIENT_FOOD = ingredient.Food;
            var INGREDIENT_FOOD_CATEGORY = ingredient.FoodCategory;
            var INGREDIENT_PRODUCT_ID = ingredient.ProductId;
            var INGREDIENT_TEXT = ingredient.Text;
            ////////////////////////////////////////
            ///*******Create HTML elements*******///
            ////////////////////////////////////////
            <figure>
            <img src="@INGREDIENT_IMAGE.AbsoluteUri" alt="Ingredient image" width="150" height="150" />
            </figure>
            <dl>
            <dt>@INGREDIENT_FOOD</dt>
            <dd>@INGREDIENT_TEXT</dd>
            <dd>@INGREDIENT_WEIGHT @INGREDIENT_QUANTITY @INGREDIENT_UNIT_VALUE @INGREDIENT_MEASURE</dd>
            <dd>@INGREDIENT_PRODUCT_ID</dd>
            <dd>@INGREDIENT_FOOD_CATEGORY</dd>
            </dl>
        }
        </div>
        // RECIPE DETAILS
        var PRODUCT_LIST = RECIPE.ProductIdList;
        var INGREDIENT_LINES = RECIPE.IngredientLines;
        var INSTRUCTIONS = RECIPE.Instructions;
        #endregion
        ////////////////////////////////////////
        #region Recipe Dietary Objects
        ////////////////////////////////////////
        var CALORIES = RECIPE.Calories;
        var GRAMS = RECIPE.Grams;
        var PORTIONS = RECIPE.Portions;
        var PORTION_SIZE = RECIPE.PortionSize;
        var PORTION_UNIT_OF_MEASUREMENT = RECIPE.PortionUnitOfMeasurment;
        var TOTAL_DAILY = RECIPE.TotalDaily;
        var TOTAL_NUTRIENTS = RECIPE.TotalNutrients;
        var DIGEST = RECIPE.Digest;
        var CAUTIONS = RECIPE.Cautions;
        var HEALTH_LABELS = RECIPE.HealthLabels;
        var DIET_LABELS = RECIPE.DietLabels;
        ////////////////////////////////////////
        ///*******Create HTML elements*******///
        ////////////////////////////////////////
        <h4>@CALORIES calories</h4>
        <dl>
        <dt>@PORTIONS</dt>
        <dd>@GRAMS g</dd>
        <dd>@PORTION_SIZE @PORTION_UNIT_OF_MEASUREMENT</dd>
        </dl>

        <ul>
        @foreach(var d in TOTAL_DAILY)
        {
            <li id="@d.Value.Id">@d.Key: @d.Value.Label, @d.Value.Quantity, @d.Value.Unit</li>
        }
        </ul>

        <ul>
            @foreach (var d in TOTAL_NUTRIENTS)
            {
                <li id="@d.Value.Id">@d.Key: @d.Value.Label @d.Value.Quantity @d.Value.Unit</li>
            }
        </ul>

        <ul>
            @foreach (var d in DIGEST)
            {
                <li>Id: @d.Id, LabeL: @d.Label, schema org tag: @d.SchemaOrgTag, tag: @d.Tag, sub: @d.Sub, daily: @d.Daily,has rdi: @d.HasRdi, total: @d.Total, unit: @d.Unit </li>
            }
        </ul>

        <ol>
        @foreach(var ing in INGREDIENT_LINES)
        {
           <li> @ing</li>
        }
        </ol>
        <ol>
            <li>@INSTRUCTIONS.ToString()</li>
        </ol>
        <select>
        @if(PRODUCT_LIST != null && PRODUCT_LIST.Count > 0)
            {
                @foreach (var pro in PRODUCT_LIST)
                {
                    <option>@pro</option>
                }
            }
           
        </select>
        <small class="alert-warning">
            @foreach (var c in CAUTIONS)
            {
                _ = c + ", ";   
            }
        </small>
        <small class="badge-info">
            @foreach (var h in HEALTH_LABELS)
            {
                _ = h + ", ";   
            }
        </small>
        <small class="alert-info">
            @foreach (var d in DIET_LABELS)
            {
                _ = d + ", ";
            }
        </small>
        #endregion    
    }
}
<h1>SearchRecipesByQuery</h1>

<div>
    <h4>Hits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <div>

    </div>
    <a href="@Model.Links.Next.Href" onclick="alert('TODO: Implement javascript module to load next set of paginated results')">Get next 20 results</a>
</div>