@model VLC.Models.Recipes.Hits

@{
    ViewData["Title"] = "SearchRecipesByQuery";

    // ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ||
    // TODO: build(SearchRecipesView): change regions to partials. (Refactor page so that it loads partials in place of each region).||
    // TODO: build(HTML):redesign layout. (Remarkup the semantic HTML with appropraite sections for the page's design).              ||
    // ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ || 
    
    <div>
    <a asp-action="Index">Meal Managers</a>
    </div>

    var ALL_DATA_JS = Json.Serialize(Model).ToString();
    <partial name="_RecipeSearchPageNav" model="Model" />
    foreach (var hit in Model.HitsList)
    {
        <partial name="_Hit" model="hit" />
    }

<h1>SearchRecipesByQuery</h1>

<div>
    <h4>Hits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>

}