@model IEnumerable<VLC.Models.Recipes.Hits>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="all-recipes" class="table">
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
            </tr>
                <tr>
                    <th>
                        CuisineType
                    </th>
                </tr>
                <tr>
                    <th>
                        DietLabels
                    </th>
                </tr>
                <tr>
                    <th>
                        Calories
                    </th>
                </tr>
                <tr>
                    <th>
                        Label
                    </th>
                </tr>
                <tr>
                    <th>
                        IngredientLines
                    </th>
                </tr>
                <tr>
                    <th>
                        ShareAs
                    </th>
                </tr>
        </thead>
        <tbody>
        
        @{
            foreach(var recipe in Model)
            {
                <tr>
                    <td>
                        @recipe.HitsList.Select(x=>x.Id);
                    </td>
                </tr>
                <tr>
                    <td>
                        @recipe.HitsList.Select(c=>c.Recipe.CuisineType) - CuisineType
                    </td>
                </tr>
                <tr>
                    <td>
                        @recipe.HitsList.Select(c=>c.Recipe.DietLabels) - DietLabels
                    </td>
                </tr>
                <tr>
                    <td>
                        @recipe.HitsList.Select(c=>c.Recipe.Calories) -  Calories;
                    </td>
                </tr>
                <tr>
                    <td>
                        @recipe.HitsList.Select(c => c.Recipe.Label);
                    </td>
                </tr>
                <tr>
                    <td>
                        @recipe.HitsList.Select(c => c.Recipe.IngredientLines)
                    </td>
                </tr>
                <tr>
                    <td>
                        @recipe.HitsList.Select(c => c.Recipe.ShareAs);
                    </td>
                </tr>
                <tr>
                    <td>
                        <a asp-action="Edit" asp-route-id="@recipe.HitsList.Select(x=>x.Id)">Edit</a> |
                        <a asp-action="Details" asp-route-id="@recipe.HitsList.Select(x=>x.Id)">Details</a> |
                        <a asp-action="Delete" asp-route-id="@recipe.HitsList.Select(x=>x.Id)">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
        <tfoot>

        </tfoot>
    </table>

</div>



    </tbody>
</table>
</body>
</html>
