@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="login-container">
    <div class="form-container">
        <form class="simple-form" id="account" accept-charset="UTF-8" method="post">
            <h1 class="title">Log into your account</h1>
            <p>Don't you have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign in now!</a></p>
            <p>Hello Foodie my Friend!</p>
            <div class="fields-group">
                <div class="intput-label">
                    <input asp-for="Input.Email" class="input-fields" aria-label="Username"
                           autocomplete="username" aria-required="true"
                           placeholder="Username / Email"
                           type="text" />
                    @* Use JavaScript to display message for username required *@
                    @*<span asp-validation-for="Input.Email" class="text-danger"></span>*@
                </div>
                <div class="input-label">
                    <input asp-for="Input.Password" class="input-fields" aria-label="Password"
                           autocomplete="current-password" aria-required="true"
                           placeholder="Password" type="password">
                </div>
                <div class="remember-me--forget-password">
                    <label asp-for="Input.RememberMe">
                        <input type="checkbox" asp-for="Input.RememberMe" checked />
                        <span class="text-checkbox">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                    </label>
                    <p><a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a></p>
                </div>
                <div class="btn-field">
                    <button id="loginBtn" class="button-53" type="submit">Login</button>
                </div>
            </div>
        </form>
        <div class="sign-in-with">
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>

        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
